<div id = "seasonButtons">
    <% const arr = ['fall', 'spring'] %>
    <% arr.forEach(function(value){ %>
      <% const buttonId = `${value}Button`%>
      <% const string = value.slice(0,1).toUpperCase() + value.slice(1)%>
      <% if(value == season){ %>
        <a>
          <button id = "<%=buttonId%>" disabled = true><%=string%></button>
        </a> 
      <%}else{%>
          <a href = '../<%=value%>/home'>
            <button id = "<%=buttonId%>"><%=string%></button>
          </a>
      <%}%>
    <%})%>
  </div>