
    <div class = "teamGridTeam" data-teamId = "<%=`${team._id}`%>">
      <div class = teamGridTeamDetailsWrapper>
        <div class = "teamGridTeamNameSizeContainer">
          <div class = "teamGridTeamName"><%=team.name%></div>
          <%if(team.size > facilityData.facilityMaxCapacity){%>
            <div class = "teamGridTeamSize"><%=`Team size ${team.size} is larger than facilty max capacity. Speak to supervisor about capacity changes.`%></div>
          <%}else{%>
            <div class = "teamGridTeamSize"><%=`${team.size} athletes`%></div>
          <%}%>
        </div>
        <div class = "teamGridTeamOptionContainer">
            <%team.allOpts.forEach(function(option, index){%>
              <% const optNum = index + 1%>
              <%- include('./teamOptionTemplate', {optNum: optNum, option: option, timeConverter:timeConverter, facilityData:facilityData})%>
            <%})%>
        </div>
        <div class = "teamGridTeamButtons">
          <div class = "verifyEditDeleteTeamDiv">
            <button class = "teamGridTeamVerifyButton">Verify</button>
            <button class = "teamGridTeamEditButton">Edit</button>
            <button class = "teamGridTeamDeleteButton">X</button>
          </div>	
        </div>
      </div>
      <%if(team.lastVerified != null){%>
        <div class = "teamGridTeamLastVerified">Last Verified: <%=team.lastVerified%> </div>
      <%}else{%>
        <div class = "teamGridTeamLastVerified">Last Verified: N/A </div>
      <%}%>
    </div>



      