    <div id = "adminMainPage">
		<div id = "adminMainPageMainColumn">

			<%- include('./partials/seasonsButtons', {season: season})%>
			<div id = "adminTeamGridMainLabel">All Teams</div>
			<div id = "adminMainPageTeamsGridContainer">

				<div id = "adminMainPageTeamGridLabels">
					<div>Name</div>
					<div>Coach</div>
					<div>Size</div>
					<div>Rank</div>
					<div>Buttons</div>
				</div>
				<div id = "adminMainPageTeamGrid">
                    <%const allTeamsLength = allTeams.length%>
                    <%allTeams.forEach(function(team, index){%>
                        <%- include('./partials/adminHomePage/teamTemplate', {allTeamsLength: allTeamsLength, index: index, team: team})%>
                        
                    <%})%>
                </div>

				<button id ="saveAdminRankChangesButton">Save Rank Changes</button>
				<button id ="cancelAdminRankChangesButton">Cancel Rank Changes</button>				
			</div>
			<div id = "runScheduleBuilderDiv">
				<button id = "runScheduleBuilderButton">Run Schedule Builder</button>
			</div>
		</div>

		<div id = "adminMainPageSideColumn">
			<h3 id = "adminOptionsLabel">Admin Options</h3>
			<div id = "adminUsersGridContainer">
				<h3>Users</h3>
				<button id = "adminUsersGridAddUser">Add User</button>
				<div id = "adminUsersGrid">
					<%if(allUsers.length > 0){%>
						<%allUsers.forEach(function(user){%>
							<%- include('./partials/adminHomePage/userTemplate', {user: user})%>
						<%})%>
					<%}else{%>
						<p>No users! This shouldn't be possible, considering you are one of the users!</p>
					<%}%>
                   
                </div>
			</div>
			<div id = "facilityDataGridContainer">
                <%- include('./partials/adminHomePage/facilityDataGrid', {facilityRawData, facilityRawData, facilityData:facilityData})%>
            </div>
			<div id = "setAllUsersAvailabilityGridContainer">
				<h3>Add Time Block To All Users</h3>
				<div id = "adminMainPageAddAvailabilityBlockAllUsersGrid">
                    <%for(let day in adminTimeBlocks){%>
                        <%- include('./partials/adminHomePage/adminTimeBlocksTemplate', {day : day, timeBlocks: adminTimeBlocks[day]})%>
                    <%}%>
                </div>
				<button id = "adminMainPageAddAvailabilityBlockAllUsersSaveButton">Save Changes</button>
				<button id = "adminMainPageAddAvailabilityBlockAllUsersCancelButton">Cancel Changes</button>	
			</div>
		</div>
		<div id = "entryFormDiv" class = "form formHidden">
			<div id = "entryForm"></div>
		</div>
	</div>


	<!--ADMINHOME COMPONENT TEMPLATES FOR CLIENT-SIDE RENDERING-->

	<template id = "adminMainPageTeamTemplate"> 
		<div class = "adminMainPageTeamGridTeam">
			<div class = "adminMainPageTeamGridTeamDetailsWrapper">
				<div class = "adminMainPageTeamGridTeamName"></div>
				<div class = "adminMainPageTeamGridTeamCoach"></div>
				<div class = "adminMainPageTeamGridTeamSize"></div>
				<div class = "adminMainPageTeamGridTeamRank"></div>
				<div class = "adminMainPageTeamGridTeamButtons">
					<div class = "adminMainPageTeamGridTeamRankButtons">
						<button class = "adminMainPageTeamGridTeamUprankButton">
							<i class = "arrow up"></i>
						</button>
						<button class = "adminMainPageTeamGridTeamDownrankButton">
							<i class = "arrow down"></i>
					</div>
					<button class = "adminMainPageTeamGridTeamDisableButton">Disable</button>
				</div>
			</div>
		</div>
	</template>

	<template id = "adminMainPageUserGridUserTemplate">
		<div class = "adminUserGridUser">
			<div class = "adminUserGridUserName"></div>
			<div class = "adminUserGridUserColor">
				<p class = "adminUserColorLabel">Color:</p>
				<div class = "adminUserColor"></div>
			</div>
			<div class = "adminUserGridUserPrivilege"></div>
			<div class = "adminUserGridUserLastVerified"></div>
			<div class = "adminUserGridUserButtonDiv">
				<button class = "adminUserGridUserEditButton">Edit User</button>
				<button class = "adminUserGridUserDeleteButton">Delete User</button>
			</div>
		</div>
	</template>
	
	<template id = "adminMainPageAddAvailabilityBlockAllUsersBlockTemplate">
		<div class = "adminMainPageAddAvailabilityBlockAllUsersBlock">
			<div class = "adminMainPageAddAvailabilityBlockAllUsersBlockStart">
				<p>Start Time: </p>
			</div>
			<div class = "adminMainPageAddAvailabilityBlockAllUsersBlockEnd">
				<p>End Time: </p>
			</div>
			<button class = "adminMainPageAddAvailabilityBlockAllUsersBlockEditButton">Edit Block</button>
			<button class = "adminMainPageAddAvailabilityBlockAllUsersBlockDeleteButton">Delete Block</button>
		</div>
	</template>

	<!--ADMINHOME POPUP FORM TEMPLATES FOR CLIENT-SIDE RENDERING-->

	<template id = "adminFacilityDataFormTemplate">
		<div id = "adminFacilityDataForm">
			<h3>Facility Options</h3>
				<div id = "facilityDataFormHoursSelectorsOpen">
					<p>Open</p>
					<select class = "facilityOpen selector">
						<option value = "default">--</option>
					</select>
				</div>
				<div id = "facilityDataFormHoursSelectorsClose">
					<p>Close</p>
					<select class = "facilityClose selector">
							<option value = "default">--</option>
					</select>
				</div>
				<div id = "facilityDataFormCapacitySelectorsMax">
					<p>Max Capacity</p>
					<select class = "facilityMaxCapacity selector">
							<option value = "default">--</option>
					</select>
				</div>
			<button id = "adminMainPageFacilitySelectorsSaveButton">Save</button>
			<button id = "adminMainPageFacilitySelectorsCancelButton">Cancel</button>
			<div id = "adminMainPageFacilityGeneralErrorDiv">
				<ul id = "adminMainPageFacilityGeneralErrorList"></ul>
			</div>
		</div>
	</template>

	<template id = "adminDayTimeBlockFormTemplate">
		<div id = "adminDayTimeBlockForm">
			<h3>Day: </h3>
				<div id = "adminDayTimeBlockSelectorsStart">
					<p>Start</p>
					<select class = "startTime selector">
						<option value = "default">--</option>
					</select>
				</div>
				<div id = "adminDayTimeBlockSelectorsStart">
					<p>Start</p>
					<select class = "startTime selector">
						<option value = "default">--</option>
					</select>
				</div>
			<button id = "adminDayTimeBlockFormSaveButton">Save</button>
			<button id = "adminDayTimeBlockFormCancelButton">Cancel</button>
			<div id = "adminDayTimeBlockGeneralErrorDiv">
				<ul id = "adminDayTimeBlockGeneralErrorList"></ul>
			</div>
		</div>
	</template>

	<template id = "adminUserGeneratorTemplate">
			<div id = "userGeneratorForm">
				<title>Create/Edit User</title>
				<div id = "userGeneratorNameDiv">
					<label for = "userGeneratorName">Name</label><br>
					<input type = "text" id = "userGeneratorName" name ="userGeneratorName" maxlength="25"><br>
				</div>
				<div id = "userGeneratorPasswordDiv">
					<label for = "userGeneratorPassword">Password</label><br>
					<input type = "text" id = "userGeneratorPassword" name ="userGeneratorPassword" maxlength="25"><br>
				</div>
				<div id = "userGeneratorPrivilegeDiv">
					<label for = "userGeneratorPrivilege">Set to Admin Role</label><br>
					<input id = "userGeneratorPrivilege" name = "userGeneratorPrivilege" type = "checkbox" value = "true"><br> 
				</div>
				<div id = "userGeneratorColorDiv">
					<label for = "userGeneratorColor">User Schedule Color</label><br>
					<input type = "color" id = "userGeneratorColor" name = "userGeneratorColor">
				</div>
				<div id = "userGeneratorButtonsDiv">
					<button id = "userGeneratorSaveButton">Save Changes</button>
					<button id = "userGeneratorCancelButton">Cancel Changes</button>
				</div>
				<div id = "userGeneratorGeneralErrorDiv">
					<ul id = "userGeneratorGeneralErrorList"></ul>
				</div>
			</div>
	</template>

	<%- contentFor('script') %>

	<script src = "/javascripts/adminHomePage.js"></script>
