
<div id = "mainPage">
  <div id = "mainPageMainColumn">

    <%- include('./partials/homePage/seasonsButtons', {season: season})%>
    <% const string = season.slice(0,1).toUpperCase() + season.slice(1)%>
    <div id = "teamGridMainLabel">My Teams: <%=string%></div>
    <div id = "teamGridContainer">
      
      <div id = "teamGridLabels">
        <div>Team Details</div>
        <div>Option #</div>
        <div>Day Of Week</div>
        <div>Time</div>
        <div>In Weiss</div> 
        <div>Buttons</div>
      </div>
      <div id = "teamGrid"></div>
      <%const allTeamsLength = teams.length%>
      <%if(allTeamsLength>0){%>
        <%teams.forEach(function(team, index){%>
          <%- include('./partials/homePage/teamTemplate', {allTeamsLength: allTeamsLength, index: index, team: team, timeConverter:timeConverter, facilityData:facilityData})%>
        <%})%>
      <%}else{%>
        <p>You have no teams listed!</p>
      <%}%>
      
      <button id = "teamGridAddTeam">Add Team</button>
      <!--BUTTON HERE TO SAVE RANK CHANGES?-->
    </div>

    <div id = "verifyDiv">
      <%if(lastVerified == null){%>
        <p id = "verifyInfo">Click below when ready to verify all current team requests are up to date</p>
      <%}else{%>
        <p id = "verifyInfo">The last time you verified all teams were up-to-date was: <%=lastVerified%></p>
      <%}%>
      <button id = "verifyButton">Verify Teams Up To Date</button>
    </div>
  </div>

  <div id = "mainPageSideColumn">
    <div id = "userAvailability">
      <h3 id = "userAvailabilityLabel">Availability</h3>
      <div id = "userPageAddAvailabilityBlockGrid">
          <%for(let day in availability){%>
            <%if(availability.hasOwnProperty(day)){%>
              <%- include('./partials/homePage/availabilityTemplate', {availability: availability, day:day, timeConverter: timeConverter, facilityData: facilityData})%>
            <%}%>
          <%}%>
        </div>
      </div>
    </div>

  <div id = "entryFormDiv" class = "form formHidden">
    <div id = "entryForm"></div>
  </div>


  <!--module templates-->
  <template id = "userPageAddAvailabilityBlockTemplate">
		<div class = "userPageAddAvailabilityBlock">
			<div class = "userPageAddAvailabilityBlockStart">
				<p>Start Time: </p>
			</div>
			<div class = "userPageAddAvailabilityBlockEnd">
				<p>End Time: </p>
			</div>
			<button class = "userPageAddAvailabilityBlockEditButton">Edit Block</button>
			<button class = "userPageAddAvailabilityBlockDeleteButton">Delete Block</button>
		</div>
	</template>

  <!--form templates-->
  <template id = "availabilityDayTimeBlockFormTemplate">
		<div id = "availabilityDayTimeBlockForm">
			<h3>Day: </h3>
				<div id = "availabilityDayTimeBlockSelectorsStart">
					<p>Start</p>
					<select class = "startTime selector">
						<option value = "default">--</option>
					</select>
				</div>
				<div id = "availabilityDayTimeBlockSelectorsEnd">
					<p>End</p>
					<select class = "endTime selector">
						<option value = "default">--</option>
					</select>
				</div>
			<button id = "availabilityDayTimeBlockFormSaveButton">Save</button>
			<button id = "availabilityDayTimeBlockFormCancelButton">Cancel</button>
			<div id = "availabilityDayTimeBlockGeneralErrorDiv">
				<ul id = "availabilityDayTimeBlockGeneralErrorList"></ul>
			</div>
		</div>
	</template>

  <%- contentFor('script')%>
  <script src = "/javascripts/homePage.js"></script>
