<div id = "seasonButtons">
    <% const arr = ['fall', 'spring'] %>
    <% console.log(season) %>
    <% arr.forEach(function(value){ %>
      <% const buttonId = `${value}Button`%>
      <% const string = value.slice(0,1).toUpperCase() + value.slice(1)%>
      <% if(value == season){ %>
        <button id = "<%=buttonId%>" disabled = true><%=string%></button>
      <%}else{%>
        <button id = "<%=buttonId%>">
          <a href = '../<%=value%>/adminHome'><%=string%></a>
        </button>
        
         
      <%}%>
    <%})%>
  </div>