
	<%if(!team.enabled){%>
    <div class = "adminMainPageTeamGridTeam toggleDisable" data-teamId = "<%=`${team._id}`%>">
  <%}else{%>
    <div class = "adminMainPageTeamGridTeam" data-teamid = "<%=`${team._id}`%>">
  <%}%>
		<div class = "adminMainPageTeamGridTeamDetailsWrapper">
			<div class = "adminMainPageTeamGridTeamName"><%=team.name%></div>
			<div class = "adminMainPageTeamGridTeamCoach"><%=team.coach.name%></div> <!--populate?-->
			<div class = "adminMainPageTeamGridTeamSize"><%=team.size%></div>
			<div class = "adminMainPageTeamGridTeamRank"><%=team.rank.allTeams +1%></div>
			<div class = "adminMainPageTeamGridTeamButtons">
        <%if(!team.enabled){%>
          <button class = "adminMainPageTeamGridTeamDisableButton">Enable</button>
        <%}else{%>
          <button class = "adminMainPageTeamGridTeamDisableButton">Disable</button>
        <%}%>
			</div>
		</div> 
	</div>
